<div>
    <span style="height: 2rem;"> Pin URL: <input style="float: right; width: 14rem;" type="url" [(ngModel)]="pinUrl"></span>
    <br>
    <br>
    <span style="height: 2rem;"> Location Name: <input style="float: right;  width: 14rem;" type="text" [(ngModel)]="locName"></span>
    <br>
    <br>
    <span style="height: 2rem;"> Location Description: <textarea style="float: right;  width: 14rem; height: 100%; resize: none;" [(ngModel)]="locDes"></textarea> </span>
    <br>
    <br>
    <span style="height: 2rem;"><button (click)="createPin()">Create Pin</button></span>
</div>